<style>
    .icons{flex-wrap: wrap;padding: 10px;display: flex;align-items: center;}
    .icon{text-align: center;width: calc(100% / 15);padding: 10px 0;cursor: pointer;transition: all .3s;border-radius: 3px;}
    .icon:hover,.icon.active{background: #fff;}
</style>
<div class="flex icons">
    <div class="icon" data-icon="app-indicator">
        <i class="bi bi-app-indicator"></i>
    </div>
    <div class="icon" data-icon="app">
        <i class="bi bi-app"></i>
    </div>
    <div class="icon" data-icon="archive-fill">
        <i class="bi bi-archive-fill"></i>
    </div>
    <div class="icon" data-icon="archive">
        <i class="bi bi-archive"></i>
    </div>
    <div class="icon" data-icon="arrow-counterclockwise">
        <i class="bi bi-arrow-counterclockwise"></i>
    </div>
    <div class="icon" data-icon="arrow-down-circle-fill">
        <i class="bi bi-arrow-down-circle-fill"></i>
    </div>
    <div class="icon" data-icon="arrow-angle-contract">
        <i class="bi bi-arrows-angle-contract"></i>
    </div>
    <div class="icon" data-icon="arrow-angle-expand">
        <i class="bi bi-arrows-angle-expand"></i>
    </div>
    <div class="icon" data-icon="arrow-fullscreen">
        <i class="bi bi-arrows-fullscreen"></i>
    </div>
    <div class="icon" data-icon="arrows-move">
        <i class="bi bi-arrows-move"></i>
    </div>
    <div class="icon" data-icon="asterisk">
        <i class="bi bi-asterisk"></i>
    </div>
    <div class="icon" data-icon="award-fill">
        <i class="bi bi-award-fill"></i>
    </div>
    <div class="icon" data-icon="award">
        <i class="bi bi-award"></i>
    </div>
    <div class="icon" data-icon="back">
        <i class="bi bi-back"></i>
    </div>
    <div class="icon" data-icon="bank2">
        <i class="bi bi-bank2"></i>
    </div>
    <div class="icon" data-icon="bar-chart-line-fill">
        <i class="bi bi-bar-chart-line-fill"></i>
    </div>
    <div class="icon" data-icon="bar-chart-line">
        <i class="bi bi-bar-chart-line"></i>
    </div>
    <div class="icon" data-icon="bell-fill">
        <i class="bi bi-bell-fill"></i>
    </div>
    <div class="icon" data-icon="bell-slash-fill">
        <i class="bi bi-bell-slash-fill"></i>
    </div>
    <div class="icon" data-icon="bell-slash">
        <i class="bi bi-bell-slash"></i>
    </div>
    <div class="icon" data-icon="bell">
        <i class="bi bi-bell"></i>
    </div>
    <div class="icon" data-icon="bezier">
        <i class="bi bi-bezier"></i>
    </div>
    <div class="icon" data-icon="bezier2">
        <i class="bi bi-bezier2"></i>
    </div>
    <div class="icon" data-icon="blockquote-left">
        <i class="bi bi-blockquote-left"></i>
    </div>
    <div class="icon" data-icon="blockquote-right">
        <i class="bi bi-blockquote-right"></i>
    </div>
    <div class="icon" data-icon="book-fill">
        <i class="bi bi-book-fill"></i>
    </div>
    <div class="icon" data-icon="book-half">
        <i class="bi bi-book-half"></i>
    </div>
    <div class="icon" data-icon="book">
        <i class="bi bi-book"></i>
    </div>
    <div class="icon" data-icon="bookmark-check-fill">
        <i class="bi bi-bookmark-check-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-check">
        <i class="bi bi-bookmark-check"></i>
    </div>
    <div class="icon" data-icon="bookmark-dash-fill">
        <i class="bi bi-bookmark-dash-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-dash">
        <i class="bi bi-bookmark-dash"></i>
    </div>
    <div class="icon" data-icon="bookmark-fill">
        <i class="bi bi-bookmark-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-heart-fill">
        <i class="bi bi-bookmark-heart-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-heart">
        <i class="bi bi-bookmark-heart"></i>
    </div>
    <div class="icon" data-icon="bookmark-plus-fill">
        <i class="bi bi-bookmark-plus-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-plus">
        <i class="bi bi-bookmark-plus"></i>
    </div>
    <div class="icon" data-icon="bookmark-star-fill">
        <i class="bi bi-bookmark-star-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-star">
        <i class="bi bi-bookmark-star"></i>
    </div>
    <div class="icon" data-icon="bookmark-x-fill">
        <i class="bi bi-bookmark-x-fill"></i>
    </div>
    <div class="icon" data-icon="bookmark-x">
        <i class="bi bi-bookmark-x"></i>
    </div>
    <div class="icon" data-icon="bookmark">
        <i class="bi bi-bookmark"></i>
    </div>
    <div class="icon" data-icon="bookmarks-fill">
        <i class="bi bi-bookmarks-fill"></i>
    </div>
    <div class="icon" data-icon="bookmarks">
        <i class="bi bi-bookmarks"></i>
    </div>
    <div class="icon" data-icon="box-arrow-up-left">
        <i class="bi bi-box-arrow-up-left"></i>
    </div>
    <div class="icon" data-icon="box-arrow-up-right">
        <i class="bi bi-box-arrow-up-right"></i>
    </div>
    <div class="icon" data-icon="box-seam">
        <i class="bi bi-box-seam"></i>
    </div>
    <div class="icon" data-icon="box">
        <i class="bi bi-box"></i>
    </div>
    <div class="icon" data-icon="briefcase-fill">
        <i class="bi bi-briefcase-fill"></i>
    </div>
    <div class="icon" data-icon="briefcase">
        <i class="bi bi-briefcase"></i>
    </div>
    <div class="icon" data-icon="broadcast-pin">
        <i class="bi bi-broadcast-pin"></i>
    </div>
    <div class="icon" data-icon="building">
        <i class="bi bi-building"></i>
    </div>
    <div class="icon" data-icon="bullseye">
        <i class="bi bi-bullseye"></i>
    </div>
    <div class="icon" data-icon="calculator-fill">
        <i class="bi bi-calculator-fill"></i>
    </div>
    <div class="icon" data-icon="calendar2-week-fill">
        <i class="bi bi-calendar2-week-fill"></i>
    </div>
    <div class="icon" data-icon="calendar2-week">
        <i class="bi bi-calendar2-week"></i>
    </div>
    <div class="icon" data-icon="calendar3">
        <i class="bi bi-calendar3"></i>
    </div>
    <div class="icon" data-icon="camera-reels-fill">
        <i class="bi bi-camera-reels-fill"></i>
    </div>
    <div class="icon" data-icon="card-image">
        <i class="bi bi-card-image"></i>
    </div>
    <div class="icon" data-icon="card-list">
        <i class="bi bi-card-list"></i>
    </div>
    <div class="icon" data-icon="cart4">
        <i class="bi bi-cart4"></i>
    </div>
    <div class="icon" data-icon="chat-left-text-fill">
        <i class="bi bi-chat-left-text-fill"></i>
    </div>
    <div class="icon" data-icon="chat-right-text-fill">
        <i class="bi bi-chat-right-text-fill"></i>
    </div>
    <div class="icon" data-icon="circle-half">
        <i class="bi bi-circle-half"></i>
    </div>
    <div class="icon" data-icon="cloud-arrow-down-fill">
        <i class="bi bi-cloud-arrow-down-fill"></i>
    </div>
    <div class="icon" data-icon="clouds-fill">
        <i class="bi bi-clouds-fill"></i>
    </div>
    <div class="icon" data-icon="diagram-3-fill">
        <i class="bi bi-diagram-3-fill"></i>
    </div>
    <div class="icon" data-icon="envelope-fill">
        <i class="bi bi-envelope-fill"></i>
    </div>
    <div class="icon" data-icon="folder-fill">
        <i class="bi bi-folder-fill"></i>
    </div>
    <div class="icon" data-icon="gear-fill">
        <i class="bi bi-gear-fill"></i>
    </div>
    <div class="icon" data-icon="globe2">
        <i class="bi bi-globe2"></i>
    </div>
    <div class="icon" data-icon="grid-1x2-fill">
        <i class="bi bi-grid-1x2-fill"></i>
    </div>
    <div class="icon" data-icon="grid-3x3-gap-fill">
        <i class="bi bi-grid-3x3-gap-fill"></i>
    </div>
    <div class="icon" data-icon="grid-fill">
        <i class="bi bi-grid-fill"></i>
    </div>
    <div class="icon" data-icon="heptagon-half">
        <i class="bi bi-heptagon-half"></i>
    </div>
    <div class="icon" data-icon="hourglass-split">
        <i class="bi bi-hourglass-split"></i>
    </div>
    <div class="icon" data-icon="hourglass-top">
        <i class="bi bi-hourglass-top"></i>
    </div>
    <div class="icon" data-icon="laptop-fill">
        <i class="bi bi-laptop-fill"></i>
    </div>
    <div class="icon" data-icon="nut-fill">
        <i class="bi bi-nut-fill"></i>
    </div>
    <div class="icon" data-icon="octagon-half">
        <i class="bi bi-octagon-half"></i>
    </div>
    <div class="icon" data-icon="person-lines-fill">
        <i class="bi bi-person-lines-fill"></i>
    </div>
    <div class="icon" data-icon="record-circle-fill">
        <i class="bi bi-record-circle-fill"></i>
    </div>
    <div class="icon" data-icon="server">
        <i class="bi bi-server"></i>
    </div>
    <div class="icon" data-icon="shield-fill-check">
        <i class="bi bi-shield-fill-check"></i>
    </div>
    <div class="icon" data-icon="shield-fill-exclamation">
        <i class="bi bi-shield-fill-exclamation"></i>
    </div>
    <div class="icon" data-icon="shield-shaded">
        <i class="bi bi-shield-shaded"></i>
    </div>
    <div class="icon" data-icon="signpost-split-fill">
        <i class="bi bi-signpost-split-fill"></i>
    </div>
    <div class="icon" data-icon="skype">
        <i class="bi bi-skype"></i>
    </div>
    <div class="icon" data-icon="slack">
        <i class="bi bi-slack"></i>
    </div>
    <div class="icon" data-icon="sliders">
        <i class="bi bi-sliders"></i>
    </div>
    <div class="icon" data-icon="stack">
        <i class="bi bi-stack"></i>
    </div>
    <div class="icon" data-icon="stars">
        <i class="bi bi-stars"></i>
    </div>
    <div class="icon" data-icon="subtract">
        <i class="bi bi-subtract"></i>
    </div>
    <div class="icon" data-icon="symmetry-horizontal">
        <i class="bi bi-symmetry-horizontal"></i>
    </div>
    <div class="icon" data-icon="symmetry-vertical">
        <i class="bi bi-symmetry-vertical"></i>
    </div>
    <div class="icon" data-icon="table">
        <i class="bi bi-table"></i>
    </div>
    <div class="icon" data-icon="tags-fill">
        <i class="bi bi-tags-fill"></i>
    </div>
    <div class="icon" data-icon="text-indent-left">
        <i class="bi bi-text-indent-left"></i>
    </div>
    <div class="icon" data-icon="text-indent-right">
        <i class="bi bi-text-indent-right"></i>
    </div>
    <div class="icon" data-icon="toggles">
        <i class="bi bi-toggles"></i>
    </div>
    <div class="icon" data-icon="toggles2">
        <i class="bi bi-toggles2"></i>
    </div>
    <div class="icon" data-icon="tools">
        <i class="bi bi-tools"></i>
    </div>
    <div class="icon" data-icon="trash-fill">
        <i class="bi bi-trash-fill"></i>
    </div>
    <div class="icon" data-icon="trophy-fill">
        <i class="bi bi-trophy-fill"></i>
    </div>
    <div class="icon" data-icon="ui-checks-grid">
        <i class="bi bi-ui-checks-grid"></i>
    </div>
    <div class="icon" data-icon="ui-checks">
        <i class="bi bi-ui-checks"></i>
    </div>
    <div class="icon" data-icon="ui-radios-grid">
        <i class="bi bi-ui-radios-grid"></i>
    </div>
    <div class="icon" data-icon="view-list">
        <i class="bi bi-view-list"></i>
    </div>
    <div class="icon" data-icon="view-stacked">
        <i class="bi bi-view-stacked"></i>
    </div>
    <div class="icon" data-icon="wallet-fill">
        <i class="bi bi-wallet-fill"></i>
    </div>
    <div class="icon" data-icon="x-diamond-fill">
        <i class="bi bi-x-diamond-fill"></i>
    </div>
    <div class="icon" data-icon="pin-map-fill">
        <i class="bi bi-pin-map-fill"></i>
    </div>
    <div class="icon" data-icon="geo-alt-fill">
        <i class="bi bi-geo-alt-fill"></i>
    </div>
    <div class="icon" data-icon="people-fill">
        <i class="bi bi-people-fill"></i>
    </div>
</div>