{include file="Common/head" /}
<div id="right">
    <div class="layui-card">
        <div class="layui-card-body order_state">
            <a class="{$state?'':'active'}" href="/admin/order/index">全部</a>
            {volist name="statelike" id="vo"}
            <a href="/admin/order/index?state={$vo.input_value}" class="{$state==$vo.input_value?'active':''}">{$vo.input_name}</a>
            {/volist}
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body layui-table-body">
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>会员名</th>
                    {volist name="input" id="vo"}
                    <th>{$vo.input_name}</th>
                    {/volist}
                    <th width="160">创建时间</th>
                    <th width="200">操作</th>
                </tr>
                </thead>
                <tbody class="x-cate">
                {volist name="list" id="vo"}
                <tr>
                    <td>{$vo.order_id}</td>
                    <td>{$vo.member_name}</td>
                    {volist name="input" id="vo2"}
                    <td>
                        {switch vo2.input_type_id}
                        {case 1}
                        <!--输入框-->
                        {$vo[$vo2.field_name]}
                        {/case}
                        {case 8}
                        <!--日期框-->
                        {$vo[$vo2.field_name]|date='Y-m-d H:i:s'}
                        {/case}
                        {default}
                        {$vo[$vo2.field_name]}
                        {/switch}
                    </td>
                    {/volist}
                    <td>{$vo.date|date='Y-m-d H:i:s'}</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs layui-btn2" onclick="xadmin.open('商品详情','{:url(\'admin/order/goods\')}?content_id={$vo.order_id}')">商品详情</button>
                        <button type="button" class="layui-btn layui-btn-normal layui-btn-xs layui-btn2" onclick="xadmin.open('修改','{:url(\'admin/order/edit\')}?content_id={$vo.order_id}')"><i class="layui-icon"></i>修改</button>
                        <button class="layui-btn-danger layui-btn layui-btn-xs layui-btn2" type="button" onclick="member_del(this,'{:url(\'/admin/order/del_save\')}','{$vo.member_id}')"><i class="layui-icon"></i>删除</button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            {$list|raw}
        </div>
    </div>
</div>
{include file="Common/foot" /}