{include file="Common/head" /}
<div id="right">
    <div class="layui-card">
        <div class="layui-card-body layui-table-body">
            <form class="layui-form" id="layui-form">
                <table class="layui-table layui-form">
                    <thead>
                    <tr>
                        <th width="100">ID</th>
                        <th>栏目名称</th>
                        <th width="120">类型</th>
                        <th width="160">添加子分类</th>
                        <th width="160">内容列表</th>
                        <th width="160">排序时间</th>
                        <th width="100">显/隐</th>
                        <th width="200">操作</th>
                    </tr>
                    </thead>
                    <tbody class="x-cate">
                    <tr cate-id="{$list.classify_id}" fid="{$list.classify_pid}">
                        <td>
                            <input name="classify_id[]" type="hidden" value="{$list.classify_id}" />
                            {$list.classify_id}
                        </td>
                        <td status="{$list.count?'false':'true'}">
                            {notempty name="$list.count"}
                            <i class="bi bi-caret-right-fill" style="transform:rotate(90deg);"></i>
                            {/notempty}
                            {$list.classify_name}
                        </td>
                        <td>{$list.type_name}</td>
                        <td><button type="button" class="layui-btn" onclick="xadmin.open('添加','{:url(\'admin/classify/add\')}?classify_id={$list.classify_id}')"><i class="layui-icon"></i>添加子分类</button></td>
                        <td>
                            {if $list.type_id>1}
                            <a href="/admin/content/?classify_id={$list.classify_id}" class="layui-btn layui-btn layui-btn-normal"><i class="layui-icon layui-icon-list"></i>内容列表({$list.relevanceTotal})</a>
                            {else /}
                            无
                            {/if}
                        </td>
                        <td><input name="date[]" type="text" value="{$list.date|date='Y-m-d H:i:s'}" autocomplete="off" class="layui-input"/></td>
                        <td>
                            <select name="is_delete[]">
                                <option value="1" {$list.is_delete=="1"?'selected':''}>显示</option>
                                <option value="2" {$list.is_delete=="2"?'selected':''}>隐藏</option>
                            </select>
                        </td>
                        <td>
                            <button href="javascript:;" onclick="xadmin.open('修改','{:url(\'admin/classify/edit\')}?classify_id={$list.classify_id}')" class="layui-btn"><i class="layui-icon"></i>修改</button>
                            {if $list.relevanceTotal<=0 && $list.count<=0}
                            <button class="layui-btn-danger layui-btn layui-btn-xs layui-btn2" type="button" onclick="member_del(this,'{:url(\'/admin/classify/del_save\')}','{$list.classify_id}')"><i class="layui-icon"></i>删除</button>
                            {/if}
                        </td>
                    </tr>
                    {volist name="list2" id="vo"}
                    <tr cate-id="{$vo.classify_id}" fid="{$vo.classify_pid}">
                        <td>
                            <input name="classify_id[]" type="hidden" value="{$vo.classify_id}" />
                            {$vo.classify_id}
                        </td>
                        <td status="{$vo.count?'false':'true'}" style="padding-left:{$vo['level_id']*25}px;">
                            {empty name="$vo.count"}
                            |--
                            {else /}
                            <i class="bi bi-caret-right-fill" style="transform:rotate(90deg);"></i>
                            {/empty}
                            {$vo.classify_name}
                        </td>
                        <td>{$vo.type_name}</td>
                        <td><button type="button" class="layui-btn" onclick="xadmin.open('添加','{:url(\'admin/classify/add\')}?classify_id={$vo.classify_id}')"><i class="layui-icon"></i>添加子分类</button></td>
                        <td>
                            {if $vo.type_id>1}
                            <a href="/admin/content/?classify_id={$vo.classify_id}" class="layui-btn layui-btn layui-btn-normal"><i class="layui-icon layui-icon-list"></i>内容列表({$vo.relevanceTotal})</a>
                            {else /}
                            无
                            {/if}
                        </td>
                        <td><input name="date[]" type="text" value="{$vo.date|date='Y-m-d H:i:s'}" autocomplete="off" class="layui-input"/></td>
                        <td>
                            <select name="is_delete[]">
                                <option value="1" {$vo.is_delete=="1"?'selected':''}>显示</option>
                                <option value="2" {$vo.is_delete=="2"?'selected':''}>隐藏</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" onclick="xadmin.open('修改','{:url(\'admin/classify/edit\')}?classify_id={$vo.classify_id}')" class="layui-btn"><i class="layui-icon"></i>修改</button>
                            {if $vo.relevanceTotal<=0 && $vo.count<=0}
                            <button class="layui-btn-danger layui-btn layui-btn-xs layui-btn2" type="button" onclick="member_del(this,'{:url(\'/admin/classify/del_save\')}','{$vo.classify_id}')"><i class="layui-icon"></i>删除</button>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="layui-form-item btn_box">
                    <button class="layui-btn" lay-submit lay-filter="batch_edit_save" data-url="/admin/classify/batch_edit_save">立即提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

{include file="Common/foot" /}